<h1><%= @recipe.name %></h1>

<h3>Ingredients:</h3>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.text %></li>
  <% end %>
</ul>

<form action="/add_ingredient" method="post">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
  <label for="text">Enter ingredient name and amount:</label>
  <input id="text" name="text" type="text">
  <button type="submit">Add ingredient</button>
</form>

<h3>Instructions</h3>

<ul>
  <% @recipe.instructions.each do |instruction| %>
    <li><%= instruction.text %></li>
    <% end %>
</ul>

<form action="/add_instruction" method="post">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
  <label for="text">Enter recipe instructions:</label>
  <input id="text" name="text" type="text">
  <label for="number">Enter instruction number:</label>
  <input id="number" name="number" type="text">
  <button type="submit">Add instruction</button>
</form>

<a href="/">Back to recipe page</a>
